/* Fonts */

@font-face {
    font-family: defaultfont;
    src: url('../fonts/Segoe_UI_Light/Segoe_UI_Light.ttf');
}

@font-face {
    font-family: regularfont;
    src: url('../fonts/segoe-ui-regular/segoeui.woff');
}

@font-face {
    font-family: semiboldfont;
    src: url('../fonts/Segoe_UI_Semibold/Segoe_UI_Semibold.ttf');
}

body,
html {
    font-family: regularfont;
    -webkit-font-smoothing: antialiased !important;
    font-size: 15px;
}

hr {
    border-color: #ddd;
}

.nogutters {
    margin: 0;
    padding: 0;
}

.boldfont {
    font-family: semiboldfont;
    color: #2cace2;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}


/* Common Styles */

.headings {
    display: inline-block;
    font-size: 30px;
    font-family: defaultfont;
}

.headings i {
    font-family: semiboldfont;
    color: #2cace2;
}

.main-headings {
    display: block;
    font-size: 25px;
    font-family: semiboldfont;
}


/* Header Styles */

.navbar {
    border: none;
    margin-bottom: 0;
}

.navbar-right .dropdown-menu {
    right: auto;
    left: -15px;
}

.navbar-nav>li>.dropdown-menu {
    background: #f7f7f7;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background: none;
    color: #2cace2;
}

.dropdown-menu>li>a {
    padding: 7px 20px;
}

.dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-top: 3px solid #2cace2;
}

@media (min-width: 768px) {
    .dropdown-menu::before {
        content: "";
        position: absolute;
        top: -19px;
        left: 41%;
        border-top: 8px solid transparent;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-bottom: 8px solid #2cace2;
    }
}

header .topbar .nav>li>a:focus,
header .topbar .nav>li>a:hover,
header .menu-bar .nav>li>a:focus,
header .menu-bar .nav>li>a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background: none;
}

header .topbar .nav>li>a:focus,
header .topbar .nav>li>a:hover {
    text-decoration: underline;
}

header .topbar {
    background: #2cace2;
}

header .topbar .nav li a {
    padding: 0px 18px;
    color: #fff;
    border-right: thin solid #fff;
    margin: 5px 0;
}

header .topbar .nav li:last-child a {
    border: none;
}

header .menu-bar {
    box-shadow: 1px 1px 4px #aaa;
    min-height: 70px;
    position: relative;
    z-index: 9;
}

header .menu-bar .nav>li>a {
    padding: 25px 18px;
    color: #434343;
    font-size: 17px;
    text-transform: uppercase;
}

header .menu-bar .nav>li>a:focus,
header .menu-bar .nav>li>a:hover {
    color: #2cace2;
}


/* slides */

.carousel-control.left,
.carousel-control.right {
    background: none;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -70px;
    }
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -70px;
    }
}

.news-ticker {
    padding: 10px 0;
    background: #001D2F;
    color: #fff;
}

.news-ticker span {
    font-family: semiboldfont;
    display: inline-block;
    margin-right: 5px;
}

.news-ticker a {
    color: #fff;
}


/*  about us */

.aboutus {
    margin: 30px 0;
    overflow: hidden;
}

.intro-content {
    padding: 10px 0;
}

.intro-content p {
    margin-top: 8px;
    line-height: 29px;
    font-size: 16px;
}

.partners {
    background: #2cace2;
    padding: 20px 30px 50px 30px;
    /* border: thin solid #ccc; */
}

.part-img {
    margin: 0 5px;
}

.partners .title {
    color: #fff;
    font-size: 20px;
    font-family: defaultfont;
    margin-bottom: 30px;
    display: inline-block;
}

.partners .title i {
    font-family: semiboldfont;
    font-size: 24px;
}


/* story */

.success {
    /*border-right: thin solid #ddd;*/
    /*padding-right: 40px;*/
    padding-bottom: 20px;
}

.story-block {
    position: relative;
    color: #fff;
    margin-top: 20px;
    font-family: defaultfont;
}

.news article .news-title {
    font-size: 21px;
    display: block;
    margin: 0 0 10px 0;
    /* font-family: defaultfont; */
}

.story-block {
    min-height: 250px;
    background: url(../images/story-img.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.story-block img {
    width: 100%;
}

.story-det {
    /* position: absolute;
    width: 100%;
    bottom: 0;*/
    padding: 10px 10px 6px 10px;
    background: rgba(44, 171, 224, 0.8);
    position: absolute;
    bottom: 0;
}

.story-det h2 {
    font-size: 28px;
    margin: 0 0 8px 0;
}

.story-det a {
    color: #fff;
}

.story-det p {
    line-height: 20px;
    font-size: 15px;
}


/* footer */

footer {
    margin-top: 30px;
    /*padding: 20px 0px 0px 0px;*/
}

footer hr {
    margin: 10px 0;
}

.foot-block {
    padding: 0 25px;
}

.foot-menu h2 {
    font-size: 25px;
    margin-bottom: 15px;
    font-family: semiboldfont;
}

footer ul {
    margin: 0;
}

.btm-menu li {
    margin-right: 10px;
}

.foot-menu {
    margin: 10px 0;
}

.foot-menu ul {
    margin-left: 10px;
}

.foot-menu ul li {
    margin-bottom: 5px;
    font-size: 14px;
}

.foot-bottom ul li a:hover {
    color: #f9f9f9;
    text-decoration: none;
}

.foot-menu i {
    margin-right: 10px;
}

.foot-menu p {
    font-size: 14px;
    line-height: 30px;
}

.foot-block .phones {
    color: #fff;
}

.foot-block .phones li {
    line-height: 35px;
}

.foot-block .phones li i {
    margin-right: 5px;
}

.foot-block .foot-title {
    font-size: 25px;
    font-family: defaultfont;
    color: #fff;
    display: block;
    margin-bottom: 20px;
}

.copyright {
    text-align: center;
    font-size: 13px;
    padding: 3px 0 7px 0;
    /* background: #000; */
    /* border-top: thin solid #eee; */
}

.copyright p {
    margin: 0;
}

.message-form .form-group {
    margin-bottom: 5px;
}

.message-form .form-control {
    border: none;
    border-radius: 0;
}

.btn-primary {
    border-radius: 0;
    text-transform: uppercase;
    font-family: defaultfont;
    padding: 9px 30px;
    background: #0084bb;
    border: none;
}

.social .title {
    font-family: semiboldfont;
    font-size: 15px;
    display: inline-block;
    margin: 0 10px 0 0;
}

.social ul {
    display: inline-block;
    margin: 0;
}

.foot-bottom {
    background: #001D2F;
    margin-top: 20px;
    color: #fff;
    padding: 40px 0 0 0;
    color: #CCCCCC;
    border-top: 15px solid #001121;
}

.foot-bottom ul li a {
    color: #ccc;
}


/* Overview */

@media (max-width: 998px) {
    .sidebar {
        display: none;
    }
}

.page-container {
    margin-top: 20px;
}

.sidebar {
    background: #f9f9f9;
    padding: 20px 20px;
    /* margin-top: 10px; */
}

.sidebar .sidebar-heading {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
}

.sidebar-menu-item {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #434343;
}

.sidebar .sidebar-menus {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 0;
}

.sidebar .sidebar-menus li {
    line-height: 30px;
}

.sidebar .sidebar-menus li a {
    color: #434343;
}

.sidebar .sidebar-menus li a i {
    margin-right: 5px;
    color: #2cace2;
}

.sidebar-widget {
    padding: 20px 0;
    border-bottom: thin solid #aaa;
    /* margin: 16px 0; */
}


/* content */

.list-panel {
    margin-top: 5px;
    padding: 0;
}

.list-panel li {
    /* line-height: 23px; */
    position: relative;
    padding-left: 14px;
    margin-bottom: 15px;
    font-size: 15px;
}

.list-panel li i {
    /* margin-right: 15px; */
    position: absolute;
    top: 4px;
    left: 0;
    color: #2cace2;
}

.content-para {
    margin-top: 20px;
    font-size: 17px;
    line-height: 30px;
}


/* management team  */

.team {
    padding-bottom: 20px;
    border-bottom: thin solid #eee;
}

.team-img {
    /* background: #eee; */
    /* min-height: 300px; */
    position: relative;
    color: #fff;
    /* border: 2px solid #2A98CE; */
}

.teams-panel {
    margin-top: 20px;
}

.team-prf {
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    /* padding: 3px 5px; */
    /* background: rgba(44, 172, 226, 0.67); */
}

.team-prf .team-name {
    margin: 2px 0 5px 0;
}

.team-det p {
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 25px;
}

.team-det .team-name {
    margin: 0;
    font-size: 28px;
    color: #2cace2;
    margin-bottom: 2px;
    font-family: semiboldfont;
    text-transform: capitalize;
}

.team-det .desig {
    font-size: 17px;
    color: #4C4C4C;
}

.team-det {
    /* padding: 10px 0; */
    margin: 0;
    /* background: #eee; */
}

.team-det i {
    margin-right: 5px;
    color: #434343;
}


/* How we are different */

.fem {
    text-align: center;
}

.fem img {
    margin: 0 auto;
}

.fem h4 {
    font-size: 18px;
    margin: 20px 0;
}

.fem p {
    font-size: 13px;
}


/* cloud services */

.service-wrap {
    margin-bottom: 20px;
}

.consult-services {
    background: #f6f6f6;
    margin: 15px 0px;
    padding: 10px 15px;
}

.consult-services .boldfont {
    color: #434343;
}

.service-wrap p {
    line-height: 30px;
    /* font-size: 14px; */
}

.consult-services p {
    padding-left: 17px;
    border-left: 4px solid #2cace2;
    line-height: 26px;
    /* font-size: 14px; */
    font-style: italic;
}

.legacyimg {
    min-height: 280px;
    background: url(../images/legacy.jpg);
    padding: 15px;
    color: #fff;
}

.legacyimg h4 {
    font-size: 25px;
    font-family: defaultfont;
    text-transform: lowercase;
    margin-bottom: 20px;
}

.legacyimg .list-panel li {
    font-size: 14px;
    line-height: 15px;
}

.legacyimg .list-panel li i {
    color: #fff;
    top: 1px;
}

.service-title {
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 30px;
}

.saasprdcts .boldfont {
    color: #434343;
    margin: 0 0 16px 0;
}

.saas-practices {
    overflow: hidden;
    background: #DE7B00;
    padding: 3px 14px;
    color: #fff;
}

.saas-practices .list-panel li i {
    color: #fff;
}

.saas-practices .list-panel li {
    margin-bottom: 5px;
    font-size: 13px;
}

.saas-practices h3 {
    margin: 5px 0 6px 0;
}


/* extension services */

.extn-service .list-panel li {
    margin-bottom: 5px;
    font-size: 14px;
    /* text-align: justify; */
}

.extn-service {
    background: #f9f9f9;
    margin: 0 7px;
    padding: 10px;
}

.extn-service .boldfont {
    font-size: 18px;
}


/* client */

.client-logo {
    min-height: 80px;
    margin: 10px 0;
}

.client-logo img {
    vertical-align: middle;
    margin-bottom: 20px;
}

.custom-platform {
    background: #f6f6f6;
}

.product-pane {
    padding: 20px 20px 20px;
    background: #f9f9f9;
}


/*.product-pane.cmd {
    background: #fd9801;
}

.product-pane.steth {
    background: #8EC63F;
}

.product-pane .boldfont {
    color: #fff;
}

.product-pane .list-panel li i {
    color: #fff;
}*/

.product-pane .intro {
    font-size: 13px;
    line-height: 25px;
}


/* Case Studies */

.case-studies {
    background: #f3f3f3;
    padding: 10px;
    overflow: hidden;
    border: thin solid #e6e6e6;
}

.case-studies .case {
    border-bottom: thin solid #E4E4E4;
    overflow: hidden;
    padding: 10px 0;
}

.case-studies .case h3 {
    font-size: 18px;
    font-family: semiboldfont;
    color: #176586;
    cursor: pointer;
}

.case-studies .case p {
    font-size: 13px;
}

.study-title {
    margin: 0;
    font-size: 37px;
    margin-bottom: 35px;
}

.cstudy h4 {
    font-family: semiboldfont;
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
}


/* Testimonials */

.testimonial-cli-img {
    display: flex;
    align-items: center;
    height: 120px;
    padding: 2px;
    border: thin solid #eee;
    margin: 4px;
}

.testimonial-msg {
    font-style: italic;
    color: #656565;
    font-size: 15px;
    font-family: arial;
    position: relative;
}

.testimonial-msg::before {
    content: '"';
    position: absolute;
    left: -20px;
    top: -20px;
    font-size: 40px;
    font-family: serif;
    color: #ddd;
}

.testimonial-msg::after {
    content: '"';
    position: absolute;
    right: 0;
    bottom: -30px;
    font-size: 40px;
    font-family: serif;
    color: #ddd;
}


/* mobility services */

.development h4 {
    font-size: 19px;
    font-family: semiboldfont;
}


/* careers */

.careerbanner {
    background: url(../images/career.jpg) center;
    background-size: cover;
    height: 250px;
}

.careerbanner h1 {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    margin-top: 60px;
    font-family: arial;
}

.jobs-list {}

.jobs-list .list {
    padding: 10px 0;
    border-bottom: thin solid #eee;
}

.jobs-list .list p {
    font-size: 13px;
    font-style: italic;
    font-family: arial;
}

.jobs-list .btn-primary {
    border-radius: 20px;
    padding: 2px 20px;
}

.jobs-list .list h4 {
    font-size: 21px;
}

.c-para {
    line-height: 30px;
    background: #eee;
    padding: 10px;
}

.job-head {
    text-transform: uppercase;
    margin: 0;
}

.apply-form {
    height: 150px;
    background: #eee url(../images/apply.png) right center no-repeat;
    padding: 10px 21px;
    cursor: pointer;
    background-size: 25%;
}

.apply-form h2 {
    width: 120px;
    font-size: 38px;
    font-family: semiboldfont;
    text-transform: uppercase;
    margin-left: 20px;
}

.jobdescription {
    background: #eee;
    padding: 20px;
    margin-top: 30px;
}

.job-desc-pane h3 {
    margin: 10px 0;
}

.job-desc-pane {
    margin-bottom: 30px;
}

.job-desc-pane .list-panel {
    margin-top: 20px;
    margin-left: 20px;
}

.apply-pane {
    background: #fff;
    padding: 35px;
}

.apply-pane .btn-primary {
    width: 100%;
}

.press-release .boldfont {
    margin-bottom: 10px;
}

.press-release .date {
    font-size: 14px;
    display: inline-block;
    background: #0490E2;
    padding: 0px 6px;
    color: #fff;
}

.press-release .content {
    line-height: 27px;
    font-size: 14px;
}

.submit-resume label,
.request-form label {
    font-family: semiboldfont;
}

.submit-resume .form-control,
.request-form .form-control {
    border-radius: 0;
}

.request-form {
    margin-top: 30px;
}

.career-img {
    min-height: 500px;
    background: url(../images/carer.jpg) -214px 0 no-repeat;
    background-size: cover;
}

.modal-header {
    background: #2cace2;
    color: #fff;
}

.news .testimonial-cli-img {
    height: 90px;
}

.news {
    overflow: hidden;
    margin-top: 20px;
}

.news article .comment {
    line-height: 25px;
    font-size: 14px;
    position: relative;
    font-style: italic;
}

.news article .comment::before {
    content: '"';
    position: absolute;
    left: -5px;
    top: 4px;
    font-size: 50px;
    font-family: serif;
    color: #ddd;
}

.event-para {
    line-height: 30px;
}

.event-para b {
    font-family: semiboldfont;
    background: #2CACE2;
    color: #fff;
    padding: 0px 7px;
}

.connect p {
    line-height: 25px;
}


/* white papers */

.white-papers > h2 {
    margin-left: 15px;
}

.paper-list {
    overflow: hidden;
    padding: 5px 0 25px 0;
    border-bottom: thin solid #eee;
    margin-bottom: 15px;
}

.paper-list h3 {
    margin: 0 0 8px 0;
}

.paper-list p {
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 16px;
}


/* contact us */

.locations {
    /* background: #f6f6f6; */
    padding: 10px 15px;
    border-right: thin solid #eee;
}

.locations h2 {
    margin: 7px 0 0 0;
}

.locations .contact-info {
    margin: 5px 0;
    padding: 4px 0;
    border-bottom: thin solid #eee;
}

.locations .contact-info li {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    margin-bottom: 10px;
    color: #001D2F;
}

.locations .contact-info i {
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 14px;
}

.locations .contact-info h3 {
    margin: 15px 0;
}

.contact-banner {
    height: 150px;
    background: url(../images/contact.jpg) no-repeat;
    background-size: cover;
}

.contact-form form {
    margin-top: 40px;
}

.contact-form {
    background: #f9f9f9;
    padding: 20px;
    border: thin solid #eee;
}

.contact-form h2 {
    margin: 0;
}

.contact-form .control-label {
    font-family: semiboldfont;
}

.contact-form form .form-group {
    margin-bottom: 20px;
}

.contact-form form .form-control {
    border-radius: 0;
}

@media (min-width: 990px) {
    .careerbanner h1 {
        width: 600px;
        font-size: 4em;
    }
}

@media (max-width: 768px) {
    header .topbar .nav li a {
        padding: 0px 10px;
    }
    .topbar .navbar-nav>li {
        float: left;
    }
    .navbar-toggle {
        background: #2CACE2;
        margin-top: 17px;
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .news-ticker a {
        display: block;
        font-size: 13px;
    }
    .story-det h2 {
        font-size: 21px;
    }
    .story-det p {
        line-height: 20px;
    }
    .partners .title {
        font-size: 18px;
    }
    .partners {
        padding: 8px 17px;
    }
}
